body {
    padding: 0;
    overflow: hidden;
    font-family: helvetica, arial, sans-serif;
}
#map {
    position: absolute;
    right: 0px;
    left: 340px;
    height: 100%;
    top: 0;
}
body {
    padding: 0;
    overflow: hidden;
    font-family: colfax, helvetica, arial, sans-serif;
}
.slide {
  font-size: 14px;
  width: 300px;
}
p.main {
  font-size: 13px;
  width: 300px;
}
p.endnote {
  font-size: 10px;
  width: 300px;
  left: 0px;
}
.sidebar {
    position: absolute;
    left: 0px;
    width: 400px;
    top: 0px;
    bottom: 0;
    padding: 20px;
    font-size: 15px;
    text-align: left;
    background-color: #0C3674;
    color: white;
}
.leaflet-marker-icon {
    border:3px solid rgba(255,255,255,0.5);
    border-radius:50%;
}
